body {
    @include PandM(0, $a);
    height: auto;
    max-width: 1180px;
    background-image: url(../images/background-webpage.png);
    background-repeat: repeat-y;
    background-size: 90% auto;
    background-position: top;
    background-attachment: fixed;
}

    header {
        @include box(80px, $full, $color1);
        @include PandM(0, 0 $a);
        position: fixed;  
        top: 0px;
        left: 0;
        right:0;
        max-width: 1180 * 0.8;
        box-sizing: border-box;
        border-radius: 30px;
        z-index: 200000000;
        border: $mis-color2 3px solid;
        h1 {            
            margin:18.5px $a;
            text-align: center;
        }
        nav {
            @include box(40px, $eighth, $color3);
            @include PandM(10px 20px,0 $a);        
            position: relative;        
            box-sizing: border-box;
            border-radius: 5px;                 
            a {
                display: inline-block;
                margin: 0 20px; 
                text-decoration: none;
                color: $color1;  
                width: $a;
                &:hover {
                    color: $color2;
                }
            }
            .current {        
                margin-right: 60px;
                font-weight: bold;
            }        
        }   
    }

.header-landing {
    @include box(100px, $full, transparent);
}
