$full: 100%;
$eighth: 80%;
$half: 50%;
$third: 33%;
$quater: 25%;
$fifth: 20%;
$tenth: 10%;

$color1: #ff8c47;
$color2: #2f24cc;
$color3: #b25720;

$mis-color1: #79ff61;
$mis-color2: #3229b2;

$a: auto;
$cal1: 81px;


$bord-black: 2px solid black;